@import "font";

.EWG-root {
  font-size: 16px;
  pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 0.8em;
    line-height: 1.4;
    color: hsl(0, 0%, 20%);
    word-break: break-all;
    word-wrap: break-word;
    background-color: hsl(0, 0%, 96%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
  }

  blockquote {
    border-left: 5px solid hsl(359, 91%, 68%);
    background: white;
    padding: 0.6125em 1.25em;
    margin: 0 0 1.25em;
    font-size: 1.2em;
  }
}
