.wrapper {
  max-width: 680px;
  margin: 0 auto;
}

.textArea {
  color: hsl(0, 0%, 20%);
  border: 1px solid hsl(0, 0%, 80%);
  padding: 1em;
  font-size: 1em;
  border-radius: 0.25em;
  min-height: 600px;
  transition: 0.25s box-shadow;
  &:focus {
    outline: none;
    box-shadow: hsl(214, 100%, 90%) 0 0 20px 0;
}
}


.editButton {
  cursor: pointer;
  border-radius: 0.25em;
  background: transparent;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  &:hover {
    background: hsl(214, 100%, 90%);
  }
  &:focus {
    outline: none;
    box-shadow: hsl(214, 100%, 90%) 0 0 10px 0;
  }
}


.actionWrapper {
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: repeat(auto-fill,2em);
  grid-auto-rows: 2em;
  margin-bottom: 1em;
}
