.textArea {
  color: hsl(0, 0%, 20%);
  border: 1px solid hsl(0, 0%, 80%);
  padding: 1em;
  font-size: 1em;
  border-radius: 0.25em;
  min-height: 600px;
  transition: 0.25s box-shadow;
  &:focus {
    outline: none;
    box-shadow: hsl(214, 100%, 90%) 0 0 20px 0;
  }
}
